# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode workspace settings
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight
.Spotlight-V100

# Trashes
.Trashes
